{% load static %}
<head>
    <title>Warden</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        function navigateTo(page) {
            window.location.href = page;
        }
    </script>
</head>
<body>
    <div id='box1' align="center">
    <h1>WELCOME {{username}} <h1>
        <p>
            <a href="{% url 'approve_student' %}">Approve Students</a>
            {% if pending_count > 0 %}
                <span style="color: red;">({{ pending_count }} pending)</span>
            {% endif %}
        </p>
    <p><button type='submit' onclick="navigateTo('{% url 'attendance' %}')">Attendance</button></p>
    <p><button type='submit' onclick="navigateTo('{% url 'attendance_rep' %}')">Attandnce Report</button></p>
   
    </div>
</body>